<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Test Page</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--
<img src="..." class="img-responsive" alt="Responsive image">
<img src="..." alt="..." class="img-circle">
-->
<a class="btn btn-primary" href="#">Click me</a>
<div class="checkbox">
  <label>
    <input type="checkbox"> Check me out
  </label>
</div>
<div class="row">
  <div class="col-md-4"><h2>Testing Layout col-md-4</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis, risus nec cursus mattis,
    lacus lectus posuere quam, et pulvinar libero ligula sed mauris. Quisque sapien dolor, elementum
    ac metus sed, eleifend efficitur ipsum. Donec eget arcu sed neque condimentum tincidunt. Vestibulum
    consectetur lectus non congue bibendum. Phasellus pulvinar nec turpis eget condimentum. Cras mauris eros,
    vehicula nec pharetra a, eleifend et orci. Duis aliquet maximus malesuada. Nulla pharetra sollicitudin
    justo nec lobortis.</div>
  <div class="offset-4">
    <h2>Testing Layout offset-4</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis, risus nec cursus mattis,
    lacus lectus posuere quam, et pulvinar libero ligula sed mauris. Quisque sapien dolor, elementum
    ac metus sed, eleifend efficitur ipsum. Donec eget arcu sed neque condimentum tincidunt. Vestibulum
    consectetur lectus non congue bibendum. Phasellus pulvinar nec turpis eget condimentum. Cras mauris eros,
    vehicula nec pharetra a, eleifend et orci. Duis aliquet maximus malesuada. Nulla pharetra sollicitudin
    justo nec lobortis.
  </div>
</div>
<div class="row">
  <div class="offset-3">
    <h2>Testing Layout offset-3</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis, risus nec cursus mattis,
    lacus lectus posuere quam, et pulvinar libero ligula sed mauris. Quisque sapien dolor, elementum
    ac metus sed, eleifend efficitur ipsum. Donec eget arcu sed neque condimentum tincidunt. Vestibulum
    consectetur lectus non congue bibendum. Phasellus pulvinar nec turpis eget condimentum. Cras mauris eros,
    vehicula nec pharetra a, eleifend et orci. Duis aliquet maximus malesuada. Nulla pharetra sollicitudin
    justo nec lobortis.
  </div>
  <div class="offset-3">
    <h2>Testing Layout offset-3</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis, risus nec cursus mattis,
    lacus lectus posuere quam, et pulvinar libero ligula sed mauris. Quisque sapien dolor, elementum
    ac metus sed, eleifend efficitur ipsum. Donec eget arcu sed neque condimentum tincidunt. Vestibulum
    consectetur lectus non congue bibendum. Phasellus pulvinar nec turpis eget condimentum. Cras mauris eros,
    vehicula nec pharetra a, eleifend et orci. Duis aliquet maximus malesuada. Nulla pharetra sollicitudin
    justo nec lobortis.
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-3">
    <h2>Testing Layout col-md-6 offset-3</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis, risus nec cursus mattis,
    lacus lectus posuere quam, et pulvinar libero ligula sed mauris. Quisque sapien dolor, elementum
    ac metus sed, eleifend efficitur ipsum. Donec eget arcu sed neque condimentum tincidunt. Vestibulum
    consectetur lectus non congue bibendum. Phasellus pulvinar nec turpis eget condimentum. Cras mauris eros,
    vehicula nec pharetra a, eleifend et orci. Duis aliquet maximus malesuada. Nulla pharetra sollicitudin
    justo nec lobortis.
  </div>
</div>
<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Footer</p>
</div>
</body>